@font-face {
    font-family: "worksans";
    src: url("../fonts/WorkSans-Bold.woff") format('woff');
}

p {
    font-size: 150%;
}

body {
    background-color: #333;
    color: #fff;
    font-family: 'worksans';
    font-weight: normal;
    font-size: 175%;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.title {
    font-weight: 700;
    font-stretch: 100%;
    color: #fff;
    font-size: 300%;
    line-height: 1em;
    margin-bottom: 0;
    text-align: center;
}

.subtitle {
    font-size: 175%;
    text-align: center;
    margin: 5px;
    padding: 5px;

}

.menubar {
    height: auto;
    background-color: black;
    margin: 0%;
    padding: 0%;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    margin: 10px;
    padding: 0;
}

.status_up {
    color: rgb(2, 194, 2);
}

.status_down {
    color: rgb(194, 2, 2);
}

table {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
}

#services {
    font-size: 75%;

}

tr, td, th {
    font-size: 125%;

}

.blank_row {
    height: 200px !important;
}

.small {
    font-size: 75%;
}

#restart{
    background-image: url("/static/img/restart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    border-radius: 6px;
    width: 100px;
    height: 100px;
    opacity: 0.5;
    position: absolute;
    background-color: #888;
    bottom: 0;
    right: 0;
}

#time {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}
