<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="box">
        <img class="logo" src="{{ url_for('static', filename='img/tomesh_white.png') }}"></img>
        <h1 class="title">Toronto Mesh</h1>
        <hr>
        <table id="adapters">
            {% for adapter in adapters%}
            <tr id="adapter_{{ adapter.name }}">
                <th class="status_{{ adapter.status }}"> {{ adapter.name}} </th>
                <td> {{ adapter.ipv4 }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="restart"> </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
